#note_events
  - if @note.events.blank?
    #event_empty.alert.alert-info{role: "alert"}
      = t('documents.events.empty')
  - else
    %ul#list-events.list-group
      - @note.events.each do |ev|
        %li.list-group-item
          .row
            .col-md-1
              %span.label.label-default= l ev.date
            .col-md-9
              = ev.description
            .col-md-2
              = ev.user.try(:username)
  %button#open_new_event.btn.btn-success
    = t('buttons.new_event')
  = render 'event_form'
