#ctrllr-notes
  #note-show
    %input#document_id{type: 'hidden', value: @note.id}
    %h2
      - if @note.is_input?
        = t('labels.Note_input')
      - else
        = t('labels.Note_output')
    %table.table.table-bordered
      %thead
        %tr
          %th= t('labels.code')
          %th= t('labels.system_status')
          %th= t('labels.emission_date')
          %th= t('labels.entry_at')
          %th= t('labels.create_user')
          %th= t('labels.entry_user')          
          %th= t('labels.temporary_document')          
          %th= t('labels.folder')
      %tbody
        %tr
          %td= @note.code
          %td= t("documents.system_status.#{@note.system_status}")
          %td= l @note.emission_date, format: :short
          %td= l  @note.entry_at, format: :short
          %td= @note.create_user.try(:username)
          %td= @note.entry_user.try(:username)
          %td= link_to @note.temporary.code, @note.temporary if @note.temporary.present?
          %td= @note.folder.present? ? @note.folder.path : '/'

    %table.table.table-bordered
      %thead
        %tr
          %th= t('labels.senders')
          %th= t('labels.recipients')
          %th= t('labels.reference_people')
      %tbody
        %tr
          %td
            = @note.senders.map{|s| s.entity.fullname}.join("; ") unless @note.senders.nil?
            = @note.sender_text unless @note.sender_text.blank?
          %td
            = @note.recipients.map{|s| s.entity.fullname}.join("; ") unless @note.recipients.nil?
            = @note.recipient_text unless @note.recipient_text.blank?
          %td= @note.reference_people
    .row
      - divclass = @note.attachments.blank? ? 'col-md-12' : 'col-md-9'
      %div{class: "#{divclass}"}
        %h4= t('labels.description')
        %p= @note.description
        - unless @note.observation.blank?
          %h4= t('labels.observation')
          %p= @note.observation
      - unless @note.attachments.blank?
        .col-md-3
          = render 'show_attachments'
    - if can?(:edit, @note)
      %hr
      %h2= t('documents.events.title')
      =render 'events'