= form_for(@folder) do |f|
  - if @folder.errors.any? 
    #error_explanation
      %h2
        = pluralize(@folder.errors.count, "error")
        prohibited this folder from being saved:

      %ul
      - @folder.errors.full_messages.each do |message|
        %li= message

  .field
    = f.label :name, t("labels.name")
    = f.text_field :name
  .field
    = f.label :description, t("labels.description")
    = f.text_field :description
  .action_container
    = f.submit t('buttons.accept'), {:class=>"btn-confirm"}

