#id-folder_new
  %h1= t('.title')
  = form_for(Folder.new, :remote => true,  html: { "data-parsley-validate" => '', id: 'form_new'}) do |f|  
    = f.hidden_field :parent_id, id: "parent_id"
    .path
      %label= t("labels.directory")
      %span#parent_path
        \/
    .field
      = f.label :name, t("labels.name")
      = f.text_field :name, {'data-parsley-group' => 'block_folder', required: ''}
    .field
      = f.label :description, t("labels.description")
      = f.text_field :description
    .action_container
      = f.submit t('buttons.accept'), {:class=>"btn-confirm", id: "button-add-folder"}

