.row
  .col-title
    .row
      .col-md-5
        %h1= t('.title')      
      .col-md-7
        %h2= t(".sub_title.#{action_name}")
  .col-buttons
    - if edit_or_new_page?(@folder) 
      = link_to t('folders.buttons.index'), folders_path, :class=>"btn btn-info"
    - elsif index_page?
      = link_to t('folders.buttons.new'), new_folder_path, :class=>"btn btn-info"
    - elsif show_page?(@folder)
      = link_to t('folders.buttons.edit'), folder_path(@folder), :class=>"btn btn-info"
      = link_to t('folders.buttons.index'), folders_path, :class=>"btn btn-info"
    
  
