#remote-entities-full
  %ul.tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#tab-entity"}
        = t('.entity')
    %li
      %a{"data-toggle" => "tab", href: "#tab-person"}
        = t('.person')
    %li
      %a{"data-toggle" => "tab", href: "#tab-dependency"}
        = t('.dependency')
    %li
      %a{"data-toggle" => "tab", href: "#tab-employment"}
        = t('.employment')
    %li
      %a{"data-toggle" => "tab", href: "#tab-master_unit"}
        = t('.master_unit')
  .tab-content
    .tab-pane.active#tab-entity
      = render 'remote_entity' 
    .tab-pane#tab-person
      = render 'form_person'
    .tab-pane#tab-dependency
      = render 'form_dependency'
    .tab-pane#tab-employment
      = render 'form_employment'
    .tab-pane#tab-master_unit
      = render 'form_master_unit'